@tailwind base;
@tailwind components;
@tailwind utilities;

   /* Custom Styles for Slick Arrows */
   /* To bring arrows on top of the images */
   /* optional - to add background to arrows */
/* .slick-prev, .slick-next {
  z-index: 1; 
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%;
  padding: 10px;
} */


/* Move to the left of the image */
/* .slick-prev {
  left: 10px; 
} */


/* Move to the right of the image */
/* .slick-next {
  right: 10px; 
} */
